@media(max-width:992px){

.main-layout{
    grid-template-columns:1fr;
}

.details-grid{
    grid-template-columns:repeat(2,1fr);
}

.header{
    flex-direction:column;
}

.search-box{
    width:100%;
}

}

@media(max-width:576px){

.details-grid{
    grid-template-columns:1fr;
}

.weather-card h1{
    font-size:55px;
}

.top{
    flex-direction:column;
    text-align:center;
}

}